.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.box{
        padding: 20px;
        display: none;
        border: 1px solid #0071ec;
        padding-top: 30px;
        margin-bottom: 10px;
        width: 1240px;
    }

    .bnk_d{}
    .visa_b{}
    .gov_dept{}
    .study_b{}
    .other_b{}
    .st_other_b{}

    .stbox{
        padding: 20px;
        display: none;
        border: 1px solid #0071ec;
        padding-top: 30px;
        margin-bottom: 10px;
        width: 1240px;
    }

/**------------------------------
* ---
* ------------------------------ */
td.details-control {
    background: url('./Images/more.png') center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('./Images/close.png') center center;
    background-repeat: no-repeat;


}

label.error {
  display: block;
  color: red;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
}